ul{
    height: 80px;
    top:auto;
}
li{
    background-color:  rgb(161, 172, 181);;
    display: inline-block;
    padding: 00 170px;
    height: 80px;
    line-height: 70px;
    top:auto;
    cursor: pointer;
}
.back-kitchen{
    position: relative;
    width: 100%;
    height: 1048px;
    overflow: hidden;
    background-image: url("D:\React Js\sanjaym\src\public\Kitchen.png");
    background-size: cover;
    background-repeat: no-repeat;
   
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-family: "IBM Plex Serif";
}
.kitchen-text {
    position: absolute;
    top: 170px;
    right:540px;
    font-size:40px;
    display:inline-block;
    width:auto;
    height:auto;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color:salmon;
}
.kitchen1{
    position: absolute;
    top: 300px;
    right: 70px;
    border-radius: 60px;
    width: 394.21px;
    height: 307.21px;
    object-fit: auto;
    object-position: 100%;
    image-rendering: auto;
}
.kitchen2{
    position: absolute;
    top: 300px;
    right: 550px;
    border-radius: 60px;
    width: 394.21px;
    height: 307.21px;
    object-fit: auto;
    object-position: 100%;
    image-rendering: auto;
}
.kitchen3{
    position: absolute;
    top: 300px;
    left: 50px;
    border-radius: 60px;
    width: 394.21px;
    height: 307.21px;
    object-fit: auto;
    object-position: 100%;
    image-rendering: auto;
}
.kitchen1-info{
    position: absolute;
    top: 640px;
    left: 71px;
    font-size: 32px;
    font-family:"Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" ;
    white-space: pre-wrap;
    display: inline-block;
    width: 399px;
    height: 139px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-block-start: 0;
    margin-block-end: 0;
    color:black;
    
}
.kitchen2-info{
    position: absolute;
    top: 640px;
    right: 550px;
    font-size: 32px;
    font-family:"'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif";
    white-space: pre-wrap;
    display: inline-block;
    width: 399px;
    height: 139px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-block-start: 0;
    margin-block-end: 0;
    color:black;
}
.kitchen3-info{
    position: absolute;
    top: 640px;
    right: 71px;
    font-size: 32px;
    font-family: "Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif";
    white-space: pre-wrap;
    display: inline-block;
    width: 399px;
    height: 139px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-block-start: 0;
    margin-block-end: 0;
    color:black;
}

.btn1{
    border: 2px solid #a80ef6;
    top:400px;
    right:140px;
    background: none;
    padding: 10px 20px;
    font-size: 30px;
    text-align: center;
    font-family: "montserrat";
    cursor: pointer;
    margin: 90px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    margin-top: 360px;
}
.btn2{
    border: 2px solid #a80ef6;
    top:400px;
    left:10px;
    background: none;
    padding: 10px 20px;
    font-size: 30px;
    text-align: center;
    font-family: "montserrat";
    cursor: pointer;
    margin: 90px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    margin-top: 360px;
}
.btn3{
    border: 2px solid #a80ef6;
    top:400px;
    left:140px;
    background: none;
    padding: 10px 20px;
    font-size: 30px;
    text-align: center;
    font-family: "montserrat";
    cursor: pointer;
    margin: 90px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    margin-top: 360px;
}